*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 50%) {
    body{
      max-width: none; /* Remove the max-width constraint */
    }
    /* .main-offer{
        width: 100%;
        margin: 0;
        padding: 0;
    } */
  }
img{
    cursor: pointer;
}
nav.navbarredbus {
   top: 0;
   left: 0;
    height: 13vh;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px black;
    position: fixed;
}
.redbus01 {
    display: flex;
    margin-top: 11px;
}
img.redimg01 {
    margin-left: 14%;
    height: 7vh;
    width: 12vh;
}
img.redimg02 {
    border-radius: 10%;
    margin-left: 8%;
    height: 7vh;
    width: 12vh;
}
img.redimg03 {
    margin-left: 6%;
    height: 5vh;
    width: 11vh;
}
button.buttton {
    background-color: rgb(24, 188, 24);
    height: 4vh;
    width: 11vh;
    font-size: x-large;
    color: white;
    border-radius: 9px;
    border: none;
    margin-top: -9px;
    margin-left: 7.4%;
}
p.train-ticket {
    font-size: x-large;
    font-family: sans-serif;
    margin: 49px -131px 0 -121px;
}
img.imghelp {
    margin-top: 1%;
    margin-left: 38vh;
    border-radius: 100%;
    height: 34px;
    width: 33px;
}
p {
    font-size: larger;
    font-family: sans-serif;
    margin-top: 1.6%;
    margin-left: 15px;
}
img.myprofile {
    margin-left: 5%;
    margin-top: 1%;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}

/* .......................Offer..................... */

 main.main-off {
    display: flex;
    background-color: #f9f9f9;
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.main-offer{
    margin-top: 13vh;
    background: no-repeat;
    background-image: url("redbusOffer.jpg");
    height: 70vh;
    width: 100%;
    background-size: 100% 70vh;
} 
h1 {
    margin-left: 58vh;
    text-align: center;
    color: white;
    margin-top: 2vh;
}
img.img-bus {
    height: 42%;
}
input[type="text"] {
    height: 5vh;
    margin-top: 24px;
    width: 14vh;
  margin-left: 10.5px;
  border: none;
    outline: none;
}
.search {
    color: white;
    background-color: red;
    width: 41%;
    height: 11vh;
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
    margin-left: 3%;
    border-radius: 0 18px 16px 0;
}

.search-box-busplace {
    
    background-color: white;
    height: 11vh;
    width: 63%;
    border-radius: 17px;
    display: flex;
    margin-left: 66vh;
    margin-top: 27vh;
}
.search-box-busplace p {
    margin-top: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-box-busplace img {
    margin-top: 2.5%;
    margin-left: 3%;
}
h2 {
    color: yellow;
    font-size: xx-large;
    font-style: inherit;
    margin-left: 117vh;
}

/* ''''''''''''''''''trandding offer''''''''''''''''''''' */

.trading-offer {
    background-color: white;
    height: 50vh;
    width: 77%;
    margin-left: 25vh;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 14px -3px black;
    border-radius: 39px;
    margin-top: 9vh;
}
.teandingallview {
    display: flex;
    justify-content: space-between;
}
.teandingallview {
    margin-top: 3vh;
    font-size: x-large;
    font-family: monospace;
    color: rgb(54, 54, 147);
    margin-left: 10vh;
}

button.allview {
    margin-top: 3vh;
    height: 7vh;
    width: 23vh;
    color: blue;
    font-size: xx-large;
    border-radius: 35px;
    margin-right: 11vh;
}
.busofferss {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
img.busoffers {
    height: 31vh;
    width: 52vh;
    margin: 18px 20px 10px 0px;
    border-radius: 15px;
    margin-left: 35px;
    box-shadow: 0px 0px 10px -4px black;
} 
img.busoffers-after-click {
    height: 14vh;
    width: 14vh;
  
    margin: 18px 20px 10px 0px;
    border-radius: 15px;
    margin-left: 35px;
    box-shadow: 0px 0px 10px -4px black;
}

img.kushiyon {
    height: 33%;
    width: 86%;
    margin-left: 16vh;
    border-radius: 4vh;
    margin-top: 6vh;
}

/* .......................get-more-then-just-bus.................. */

.get-more-then-just-bus {
    
    height: 90vh;
    width: 84%;
    margin-left: 18vh;
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0px 2px 14px -8px black;
    border-radius: 3vh;
    margin-top: 9vh;
}
.contqiner p {
    font-size: xxx-large;
    font-family: monospace;
    /* margin: 32px; */
}
p.train-tickets {
    font-size: x-large;
    font-family: monospace;
    display: contents;
    color: red;
}
img.redimg030 {
    margin-top: 7vh;
    margin-left: 6%;
    height: 5vh;
    width: 11vh;
}

.line {
    margin-left: 13px;
    height: 3px;
    width: 41vh;
    background-color: red;
}

p.discription {
    margin-top: 6vh;
    font-family: system-ui;
    font-size: larger;
}
.container-dis-he7lp {
    display: flex;
}
b.b {
    font-size: x-large;
    font-family: math;
}
img.authorised {
    height: 5vh;
    width: 5vh;
    border-radius: 3vh;
    margin-left: 4vh;
    margin-top: 3vh;
}

button.button-book-ticket {
    height: 7vh;
    width: 50vh;
    margin-left: 26vh;
    margin-top: 2vh;
    box-shadow: 0 0 6px -2px black;
    background-color: red;
    color: white;
    font-size: x-large;
    font-family: cursive;
    border-radius: 22px;
}

img.enjoy-the-app {
    height: 62vh;
    width: 86%;
    margin-left: 15vh;
    margin-top: 14vh;
    border-radius: 16px;
    box-shadow: 0px 0px 20px -11px black;
}

.gpzUTj {
    background: url(https://s3.rdbuz.com/Images/webplatform/india/primo/primoHome.svg);
    height: 552px;
    width: 84%;
    border-radius: 40px;
    display: flex;
    -webkit-box-pack: end;
    box-shadow: 0px 0px 20px -11px black;
    justify-content: flex-end;
    margin-left: 16vh;
    margin-top: 10vh;
}

.sc-cJSrbW.hWhlOQ {
    background: darkblue;
    color: white;
    width: 43%;
    border-radius: 5vh;
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
}
img.watch {
    height: 6vh;
    width: 7vh;
    border-radius: 100%;
}
img.watch {
    /* display: flex; */
    height: 6vh;
    width: 7vh;
    border-radius: 100%;
    margin: 49px 0px 14px 0px;
}
.sc-hqyNC.eGWAqV {
    font-size: small;
    font-family: monospace;
}

img.img-flage { 
    top: 0;
    left: 0;
    margin-top: 3%;
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
     box-shadow: 0px 0px 20px -11px black;
}
.global-presence{
    margin-left: 15vh;
    margin-top: 1vh;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}
h3 {
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: xx-large;
    margin: 11vh 0 0 117px;
}
.name-of-country{
font-size: larger;
    font-family: sans-serif;
    margin-top: 15.6%;
    margin-left: -95px;
}

p.book-bus {
    font-size: larger;
    font-family: math;
    margin-left: 23vh;
    margin-right: 15vh;
    font-style: italic;
}
.unlock{
    height: 33%;
    width: 86%;
    margin-left: 16vh;
    border-radius: 4vh;
    margin-top: 6vh;
    box-shadow: 0px 0px 20px -11px black;
}
.car00003{
        margin-top: 8vh;

}
p.unlock-unbeatable {
    margin-left: 41vh;
    margin-top: -7vh;
    font-size: x-large;
    font-family: sans-serif;
}
b.off {
    color: red;
}
p.bus-opereter {
    margin-left: 46vh;
    font-size: small;
    font-family: sans-serif;
}
nunmber {
    color: red;
}
button.book-now {
    position: fixed;
    bottom: 67px;
    right: 184px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}